
.nav-item1 {
  padding-right: 30px;
}

.container {
  display: grid;
  grid-template-columns: 600px 800px;
  grid-template-rows: 250px 250px 250px;
  justify-content: center;
  box-sizing: border-box;
}

.item-1 {
  grid-column: 1/2;
  justify-self: center;
}

.item-2 {
  display: grid;
  align-self: center;
  grid-column: 2/3;
}

ul li {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: -5px;
}












