@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

a {
    color: #90D7FF;
    text-decoration: none;
}

a:visited {
    color: #90D7FF;
}

footer {
    text-align: center;
    color: #273469;
}

html {
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    color: #273469;
    text-align: center;
    font-size: larger;
}

h2 {
    padding: 50px;
}

img {
    padding: 20px;
    margin-top: 20px;
}

.container {
    border-style: solid;
    border-color: #90D7FF;
    margin-left: 90px;
    margin-right: 150px;
    font-size: larger;

}

.heading {
    background-color: #E4D9FF;
    text-align: center;
    padding: 20px;
    color: #273469;
}

.collapsible {
    margin: 20px;
    background-color: #90D7FF;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 86.5%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    margin-left: 90px;
    margin-bottom: -5px;
}
  
  .active, .collapsible:hover {
    border-style: solid;
    border-color: #90D7FF;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-style: solid;
    border-color: #90D7FF;
    width: 84.1%;
    margin-left: 90px;
  }

  .projects {
      list-style-type: none;
      font-size: 20px;
      text-align: center;
  }

  .projects li {
      margin-bottom: 20px;
  }