@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");

.links {
    color: #90D7FF;
    text-decoration: none;
}

.links:link {
    text-decoration: none;
    color: #90D7FF;
}

.links:visited {
    text-decoration: none;
    color: #90D7FF;
}

footer {
    text-align: center;
    color: #273469;
}

html {
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    color: #273469;
    text-align: center;
    font-size: larger;
}

h2 {
    padding: 50px;
}

.img {
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    border-radius: 60%;
}

.container {
    margin-left: 90px;
    margin-right: 150px;
    font-size: larger;
    width: 90%;
}

.heading {
    background-color: #E4D9FF;
    text-align: center;
    padding: 20px;
    color: #273469;
}

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-style: solid;
    border-color: #90D7FF;
    width: 84.1%;
    margin-left: 90px;
  }

  .projects {
      list-style-type: none;
      font-size: 20px;
      text-align: center;
  }

  .projects li {
      margin-bottom: 20px;
  }
  
  .nav {
      color: #273469;
      text-decoration: none;
  }

  .project-name {
      color: #273469;
      text-decoration: underline;
  }

  .project-name:visited {
      color: #273469;
  }

  